@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .grid-container {

    }

    .header {

    }

    .navbar {

    }

    .main {

    }

}